{% extends 'page/base.html' %}
{% load static %}

{% block content %}
<main class="about-page">
    <div class="main-banner">
        <div class="main-banner-text box">
            <h3>Mission of ron</h3>
        </div>
    </div>
    <div class="mission-text">
        <h2>We inform the public, inspire aciton, and act as a catalyst for creating collaborative solutions that guide
            cities through a rapidly urbanizing</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dignissimos, voluptatem voluptate totam excepturi quam facilis doloremque quibusdam fugiat beatae nisi corrupti doloribus eveniet vitae placeat itaque nulla. Temporibus ullam facilis magnam. Quae ea quibusdam reprehenderit, impedit inventore consectetur tempora autem voluptatem amet nihil veritatis? Saepe tenetur eveniet, in maxime doloremque officiis corrupti vitae illum provident, maiores illo recusandae natus!</p>

    </div>
    div
    <div class="vision-banner">
        <div class="image-text">
            <h3>Vision</h3>
        </div>
        <div class="vision-text">
            <h2>We envision cities as vibrant inclusive spaces where engaged residents are informed and inspired to
                build smart urban solutions. These cities enable residents to contribute to the social fabric of their
                communities and foster opportunities. belonging and happiness</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique nihil enim, optio fuga odio earum est cupiditate voluptas iusto quaerat laboriosam explicabo quis molestias omnis voluptate magnam maxime ex nostrum, aspernatur illum libero perferendis? Repellat ducimus sint aliquam aperiam nesciunt, consequatur eum saepe et! Deleniti distinctio molestias quidem inventore aliquam!</p>
        </div>
    </div>
    <div class="review-banner">
        <div class="image-text">
            <h3>Year in Review</h3>
        </div>
        <div class="review-text">
            <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, assumenda voluptatum, quam quia nemo
                voluptatem possimus enim delectus veniam natus corrupti reprehenderit labore fugiat repellendus qui
                iusto voluptas deserunt, nihil explicabo! Officiis esse molestias velit. Fugit rem assumenda in beatae.
            </h2>
        </div>
    </div>
    <div class="ourwork-banner">
        <h2>what we've been up to</h2>
        <button type="button">See our Work</button>
    </div>
</main>
{% endblock %}