{% extends 'page/base.html' %}
{% load static %}

{% block content %}
<main class="about-page">
    <div class="mission-content">
        <h1>About Us</h1>
    </div>
    <section class="aboutus">
        <article class="aboutus-text">
            <div id="overlay"></div>
            <img src="{% static 'img/about3.jpxg.jpeg'%}" alt="mission">
            <div class="mission-text">
                <h2>mission</h2>
                <p>We inform the public, inspire action, and act as a catalyst for creating collaborative solutions that guide
                cities through a rapidly urbanizing</p>
            </div>
        </article>
    </section>
    <section class="aboutus">
            <article class="aboutus-text vision">
                <div id="overlay1"></div>
                <img src="{% static 'img/about2.jpeg'%}" alt="vision">
                <div class="mission-text">
                    <h2>vision</h2>
                    <p>We envision cities as vibrant inclusive spaces where engaged residents are informed and inspired to
                            build smart urban solutions. These cities enable residents to contribute to the social fabric of their
                            communities and foster opportunities. belonging and happiness</h2>
                     </p>
                </div>
            </article>
        </section>
    <section class="aboutus">
        <article class="aboutus-text story">
                <div class="mission-text">
                        <h2>our story</h2>
                        <p>This emergence of a wealth of datasets from an ever growing number of sources serves as a powerful tool
                            that will enable cities to better understand and adapt to rapidly changing urban environments. The
                            ability to compare the competitiveness of cities has led to an increasing use of indexes such as the
                            MIT’s Global Mobility Index, the Government of Canada’s Neighbourhood Financial Health Index, and City
                            Observatory’s Storefront Index. These indexes bring data to life to better understand the systems
                            shaping urban life. These datasets are not only being used by governments and NGOs, but also a global
                            network of investors to determine which cities to invest in and where to pull investment out of. <br><br>
                        </p>
                    </div>               

                <img src="{% static 'img/1-f2.jpeg'%}" alt="our story">
                <div id="overlay2"></div>
        </article>
    </section>          
   
</main>
{% endblock %}