{% extends 'page/base.html' %}

{% block content %}
<div class="contact-us">
    <h1>contact us</h1>
    <p>We work virtually which means we are working from coffee shops, libraries and our homes. Drop us a line and let
        us know how we can get you started on championing your community!<br><br><br></p>
    <div class="meet">
        <h2>Meet our Team <br><br></h2>
    </div>
    <h2>Imagine Cities Research Centre Limited<br><br></h2>
    <h2>General Contact <br> connect@imaginecities.com <br><br>Manager, Media Relations<br> media@imaginecities.com
        <br><br> Director, Fund Development <br> funding@imaginecities.com</h2> <br>
    <h2>Manager, Talent Acquisition</h2>
    <h2>talent@imaginecities.com</h2>
    <br>
    <h2>Manager, Community Partnership Program</h2>
    <h2>community@imaginecities.com</h2>
</div>

<div class="my-slider">
    <div></div>
    <div></div>
    <div></div>
</div>

{% endblock %}