{% extends 'page/base.html' %}

{% block content %}
<h1>contact us</h1>
<p>We work virtually which means we are working from coffee shops, libraries and our homes. It's best if you let us know in advance that you want to chat about something or get an answer to a question. Get in toiuch through our main office channels</p>
<h2>Meet our Team</h2>
<h2>Imagine Cities</h2>
<h2>Ron Jaicarran <br> President, Imagine Cities <br> ron@imaginecities.com <br><br> Rachel Wade <br> Project Manager, Imagine Cities <br> rachel@imaginecities.com <br><br> General Inquiries <br> talent@imaginecities.com</h2>
<h2>XXX-XXX-XXXX | info@imaginecities.org <br>CRA#: XXX XXX XXX XXXXXX </h2>

{% endblock %}