{% extends 'page/base.html' %}

{% block content %}
<div class="contact-us">
    <!-- Title section -->
    <h1>contact us</h1>

    <p>
        We work virtually which means we are working from coffee shops, libraries and our homes. Drop us a line and let
        us know how we can get you started on championing your community!
        <br><br><br>
    </p>

    <div class="meet">
        <h2 class="meet">Meet our Team <br><br></h2>
    </div>

    <h2>
        Imagine Cities Research Centre Limited
        <br><br>

        <!-- General Contact section -->
        General Contact
        <br>
        <a class='contact-email' href="mailto:connect@imaginecities.com" rel="noopener" aria-label="Email">
            connect@imaginecities.com
        </a>
        <br><br>

        <!-- Manager/Media Relations Contact section -->
        Manager, Media Relations
        <br>
        <a class='contact-email' href="mailto:media@imaginecities.com" rel="noopener" aria-label="Email">
            media@imaginecities.com
        </a>
        <br><br>

        <!-- Director/Fund Development Contact section -->
        Director, Fund Development
        <br>
        <a class='contact-email' href="mailto:funding@imaginecities.com" rel="noopener" aria-label="Email">
            funding@imaginecities.com
        </a>
        <br><br>

        <!-- Manage/Talent Acquisition Contact section -->
        Manager, Talent Acquisition
        <br>
        <a class='contact-email' href="mailto:talent@imaginecities.com" rel="noopener" aria-label="Email">
            talent@imaginecities.com
        </a>
        <br><br>

        <!-- Manage/Community Partnership Program Contact section -->
        Manager, Community Partnership Program
        <br>
        <a class='contact-email' href="mailto:community@imaginecities.com" rel="noopener" aria-label="Email">
            community@imaginecities.com
        </a>
    </h2>
</div>

{% endblock %}