{% extends 'page/base.html' %}
<!-- load the static folder -->
{% load staticfiles %}

{% block content %}
<main class="join-page">
    <!-- main banner -->
    <div class="main-banner">
        <div class="main-banner-text box">
            <h3>Join Our Community</h3>
        </div>
    </div>
    <div class="quote2">
        <h5>We cannot do this work alone and we're always looking for great talent</h5>
    </div>
    <section class="propellus-grid-main">
        <div class="propellus-logo">
            <img src="{% static 'img/propellus.png' %}" alt="img">
            <button type="button">span</button>
        </div>
        <div class="propellus-text">
            <h3>Becoming part of our team is a great way to apply our skills and learn new skills in a very meaningful way. If you're interested in joining our team, take a look at the opportunities available on Propellus. If you have any questions, send them over to talent@imaginecities.com </h3>
        </div>
    </section>
    <div class="bottom-img">
        <img src="{% static 'img/1-a1.jpeg' %}" alt="">
    </div>
</main>
{% endblock %}