{% extends 'page/base.html' %}
<!-- load the static folder -->
{% load staticfiles %}


{% block content %}
<!-- homepage -->
<main class="home">
    <!-- main banner -->
    <div class="main-banner">
        <div class="main-banner-text box">
            <h3>We Are All City Builders</h3>
            <h4>Champion your community</h4>
            <div class="learn-more">
                <a href="{% url 'about' %}"><button>learn more</button></a>
            </div>
        </div>
    </div>
    <!-- featured posts -->
    <section class="featured-posts">
        <div class="wrapper">
            <h2>OUR PROJECTS</h2>

            <ul>
                <li class="post-a box">
                    <div class="overlay-container">
                        <img src="" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="post-content">
                        <h3>Year In Review <a href="https://www.instagram.com"><i class="fab fa-instagram icon"></i></a>
                        </h3>
                        <p>The Year in Review highlights the best of the best. We pull together the most innovative and unique pieces of research that are solving city problems from our research repository using a defined criteria. To explore this annual collection follow us on Instragram <br><br> @imaginecities.</p>
                    </div>
                </li>
                <li class="post-b box">
                    <div class="overlay-container">
                        <div class="overlay"></div>
                    </div>
                    <div class="post-content"> 
                        <h3>Speaker Series</h3>
                        <p>Our community of engaged citizens includes many inspiring and creative innovators who challenge the status quo in an effort to build better cities. Our speaker series allows all of us to learn more about city building, celebrate impact and consider how we can each contribute to our city. Sign up for our newsletter!</p>
                    </div>
                </li>
                <li class="post-c box">
                    <div class="overlay-container">
                        <img src="" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="post-content">
                        <h3>Short Stories  <a href="https://www.youtube.com"><i class="fab fa-youtube icon"></i></a>
                        </h3>
                        <p>Throughout the year we curate and show collections of short films from our research repository that highlight interesting perspectives about city building. The topics we choose aim to align with the most important urban issues of the moment, spark discussion, and connect city-builders. Join us at our next event to view, connect and converse.</p>
                    </div>
                </li>
            </ul>
            <div class="css-carousel">

                <!-- carousel controls -->
                <input type="radio" name="carousel" id="carousel-1" checked />
                <input type="radio" name="carousel" id="carousel-1" />
                <input type="radio" name="carousel" id="carousel-1" />
            </div>
        </div><!-- wrapper end -->
    </section><!-- featured posts end -->

    <section class="quote">
        <div class="wrapper">
            <h4>Informing the Public, <br> Inspiring Action <br> Through Collaborative <a href="https://getpocket.com/@imaginecities"><span style="color:rgb(47, 149, 151)">Research</span></a></h4>
        </div>
    </section>
    <section class="newsletter">
        <h3>Join Our Community</h2>
            <div class="wrapper">
                <div class="newsletter-grid-main">
                    <div class="subscribe">
                        <div class="volunteer box">
                            <h2>What We Do</h2>
                            <ul>
                                <a href="{% url 'ourwork' %}"><button>Our Work</button></a>

                            </ul>
                        </div>
                    </div>
                    <div class="community box">
                        <h2>Join Us</h2>
                        <ul>
                            <a href="https://www.volunteerconnector.org/calgary/imagine-cities"><button>Propellus</button></a>
                        </ul>
                    </div>
                    <div class="eventbrite box">
                            <h2>See Our Events</h2>
                            <ul>
                                <a href="https://www.eventbrite.com"><button>EVENTBRITE</button></a>
    
                            </ul>
                        </div>
                </div>
            </div>
    </section>

</main>
{% endblock %}