{% extends 'page/base.html' %} {% block content %}

<div class="indicators">
  <div class="container">

    <!-- Title section -->
    <h1>Our Indicators</h1>

    <!-- Description -->
    <p>
      Supported by our research, our team has produced a list of 20 indicators that we believe are the key drivers
      behind great city-building. In addition to shedding light on these important components, our indicators shed light
      on their interdependencies and the importance of systems thinking in meaningfully solving urban problems. These
      indicators are regularly reviewed and updated. Coming soon.
    </p>
  </div>
</div>

{% endblock %}