{% extends 'page/base.html' %} {% block content %}

<div class="indicators container">

  <h1>Our Indicators</h1>
  <p>
    Supported by our research, our team has produced a list of 20 indicators that we believe are the key drivers behind
    great city-building. In addition to shedding light on these important components, our indicators shed light on their
    interdependencies and the importance of systems thinking in meaningfully solving urban problems. These indicators
    are regularly reviewed and updated. Coming soon.
</div>

<style>
  .container {
    padding: 2em;
    margin: 80px;
  }

  .indicators h1 {
    color: orange;
    font-size: 3em;
    margin-bottom: 50px;

  }

  .indicators h2 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .indicators p {
    font-size: 1.3rem;
    margin-bottom: 450px;
    width: 80%
  }
</style>

{% endblock %}