{% extends 'page/base.html' %} {% block content %}

<div class="bios container">
    <h1>Our Team</h1>

    <h3>
        Ron Jaicarran, Founder & President
        <a href="https://www.linkedin.com/in/ronjaicarran/">LinkedIn</a>
    </h3>
    <p>
        Ron is a Relationship Manager at ATB Business. In this role, he has been
        able to combine his passion for urban policy with finance and innovation to
        advance better city building. Prior to joining ATB, Ron worked as a policy
        advisor at the City of Toronto. It was during this time that he founded
        Imagine Cities as a way to collect research to use in his role. Ron also
        completed his Masters where his research focused on the role of data in
        advancing better city-building. Since moving to Calgary in 2015, he has
        worked on a few policy initiatives related to urban economic development. He
        also led the development of an editorial platform for the Design Talks
        Institute.
    </p>
    <br />
    <h3>
        Rachel Wade, Vice President
        <a href="https://www.linkedin.com/in/rachel-wade-91811818/">LinkedIn</a>
    </h3>
    <p>
        Rachel is the Manager, Global Diversity & Inclusion at Parkland Fuel. In
        2019 she was named one of Calgary’s Top 40 Under 40 by Avenue Magazine due
        to her work in diversity & inclusion (D&I) and her commitment to the charity
        Calgary Wildlife Rehabilitation Society where she serves as Board President.
        She has obtained several awards for her work in D&I and communications
        including two Gold Quill Awards from IABC, a Distinction Award from the
        Advertising Club of Edmonton, and a Diversity & Inclusion Award from PR
        News. She completed her BA in Communications and Culture at the University
        of Calgary and her Master of Professional Communication at Royal Roads
        University.
    </p>
    <br />
    <h3>
        Elizabeth Watterworth, Treasurer
        <a href="https://www.linkedin.com/in/elizabeth-watterworth-mba-ep-00a29a18/">LinkedIn</a>
    </h3>

    <p>
        Elizabeth Watterworth works in the Environment, Health and Safety (EHS)
        Applications and Technology team at Suncor. In this role she is focused on
        incorporating new technologies and ways of thinking into business processes
        throughout the organization to improve management of EHS and other risks.
        Previously, she led EHS reporting at Nexen Energy and was a Senior Manager
        with ECO Canada. Elizabeth is a graduate of the University of Calgary’s
        Haskayne School of Business in the Masters of Business Administration
        program specializing in Global Energy Management and Sustainability with a
        focus in accounting and sustainability reporting. Elizabeth Watterworth
        works in the Environment, Health and Safety (EHS) Applications and
        Technology team at Suncor. In this role she is focused on incorporating new
        technologies and ways of thinking into business processes throughout the
        organization to improve management of EHS and other risks. Previously, she
        led EHS reporting at Nexen Energy and was a Senior Manager with ECO Canada.
        Elizabeth is a graduate of the University of Calgary’s Haskayne School of
        Business in the Masters of Business Administration program specializing in
        Global Energy Management and Sustainability with a focus in accounting and
        sustainability reporting.
    </p>
    <br />
    <h3>Milton Ortega, Secretary <a href="https://www.linkedin.com/in/milton-ortega/">LinkedIn</a></h3>
    <p>
        Milton currently is the Director of Programs for the Calgary Bridge
        Foundation for Youth. He also serves as a member for Community Grants with
        the Calgary Foundation, a member of the Project Review Committee with
        DevXchange International, and is part of the board of the Fig Tree
        Foundation. In the past, he shared his expertise with the Canadian Council
        for Refugees, Immigration Research West, United Nations Association in
        Canada (UNAC), the Institute of Public Administration of Canada (IPAC),
        among others. Milton holds a bachelor’s degree in International Relations
        from Universidad San Francisco de Quito, a master’s degree in Public
        Administration from Portland State University, a certificate in Executive
        Leadership from Cornell University, and holds a Charter Professional Manager
        designation from the Canadian Institute of Management.
    </p>

    <br />
    <h3>
        Gabriela Pino, Director of Fund Development
        <a href=" https://www.linkedin.com/in/gabriela-pino-40798120/">LinkedIn</a>
    </h3>
    <p>
        Gabriela is passionate about creating a better future for all. She is the
        Major Gifts Officer at Bow Valley College where she develops collaborative
        partnerships with the college’s major donors. Gabriela comes from Ecuador
        where she created an award-winning small business that employed people with
        disabilities to make artisanal chocolates. Her professional career in Canada
        started in the consumer product industry as Account Manager with Procter &
        Gamble. After volunteering for a couple of local non-profits she realized
        her passion is in the charitable sector. In 2015 she launched her career in
        Fund Development at Green Calgary where she excelled at building
        relationships with the organization’s stakeholders. Gabriela holds a Master
        in Business Administration from University of Calgary with a specialization
        in Entrepreneurship and Innovation and is a Certified Fundraising Executive
        (CFRE).
    </p>
    <br />
    <h3>
        Darryl Delwo, Director of Governance <a href="https://www.linkedin.com/in/ddelwo/">LinkedIn</a>
    </h3>
    <p>
        Darryl has over 25 years of financial and strategic experience with various
        start-ups, junior and multinational companies focusing on board and
        ownership transitions, strategic analysis, financing, corporate governance,
        change management initiatives, information technology, and operational
        effectiveness. Darryl is currently leading Noralta Technologies finance team
        focusing on A&D support, system integrations, corporate planning, and
        capital funding. Darryl holds a CPA designation, Controllership
        certification from CPA Canada, as well as a Bachelor of Commerce degree –
        Accounting major from Athabasca University. Darryl has been an active mentor
        for over 10 years with CCAL, Canadian Centre for Advanced Leadership with
        the Haskayne School of Business.
    </p>
    <br />
    <h3>
        Stephan Doyle, Director Marketing & Communications <a
            href="https://www.linkedin.com/in/stephandoyle/">LinkedIn</a>

    </h3>
    <p>
        Stephan is the former Director of Product Marketing at Nureva, a technology
        company that creates solutions that encourage collaboration. He helped the
        company launch a variety of products to create a multi-million dollar
        success story Prior to that, Stephan held various marketing roles for 14
        years at SMART Technologies including Group Manager of Global Marketing. He
        also worked for Nortel in France during the early days of wireless
        technology. Stephan also volunteers at the Make-A-Wish Foundation and the
        Calgary International Film Festival and is a graduate of the University of
        Calgary. In his free time he enjoys traveling, reading non-fiction, hiking,
        riding his bike and running in any kind of weather.
    </p>
    <br />
    <h3>
        Siamak Khorrami, Director of Product Development <a href="https://www.linkedin.com/in/siamakk">LinkedIn</a>

    </h3>
    <p>
        Siamak has product management experience in numerous sectors; from
        telecommunication, energy, food and education to banking. Over the last 10
        years, he has launched several successful products and social enterprises.
        His most recent business is Keshmoon, which is a platform that connects
        micro-farmers to socially conscious consumers. Since joining ATB Financial
        in 2017, Siamak has held many product development roles eventually becoming
        the lead for Product Operation and Practices to drive a major initiative to
        a mature digital product management capability in the organization. Prior to
        joining ATB, Siamak worked with Calgary Technologies Inc. advising and
        supporting tech startups on applying Lean Startup methodology, and
        developing Go-To-Market and fund raising strategies.
    </p>
</div>

<style>
    .container {
        padding: 2em;
        margin: 80px;
    }

    h1 {
        font-size: 3rem;
        color: orange;
        margin-bottom: 1.5em;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1.5em;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 1.5em;
        width: 60%;
    }

    a {
        text-decoration: none;
        color: #149ed3;
    }
</style>

{% endblock %}