{% extends 'page/base.html' %}

{% load static %}

{% block content %}
<main class="our-work-page">
    <!-- main banner -->
    <div class="main-banner">
        <div class="main-banner-text box">
            <h3>Our Work</h3>
        </div>
    </div>

    </section>
    <div class="extra wrapper extra1" data-aos="zoom-in" data-aos-duration="1800">
        <h1>Research Program</h1>
        <h2>Guided by our indicators and supported by systems thinking, we collect and share cities research from around
            the world in an effort to more fully understand the challenges and opportunities facing cities. We take a
            deeper dive into these topics through our webcast productions by inviting global leaders actively reshaping
            urban life.
        </h2>

    </div>

    <section class="featured-posts ourwork" id="move">
        <!-- <h2>OUR PROJECTS</h2> -->
        <div class="carousel cr2" data-flickity='{"autoPlay": true }'>
            <div class="carousel-cell c1">
                <div class="post-content">
                    <h3>Research Database

                    </h3>
                    <p>Our database is where we store all the research we've come across globally which have been
                        organized into 21 city-building categories.</p>
                    <a target="_blank" href="https://getpocket.com/@imaginecities">learn more</a>
                </div>
            </div>
            <div class="carousel-cell c2">
                <div class="post-content">

                    <h3>Common Ground
                    </h3>
                    <p>Our ability to solve complex urban problems comes from our ability to understand a range of
                        diverse perspectives. Using our research database, we curate a selection of perspectives about
                        the issues facing cities. Join our online event as we have conversations about the issues facing
                        cities to spark discussion and understanding while building connection. </p>
                    <a target="_blank" href="https://www.instagram.com/imaginecities/?hl=en">learn more</a>

                </div>
            </div>
            <div class="carousel-cell c3">
                <div class="post-content">
                    <h3>Outside the Box
                    </h3>
                    <p>Our community of engaged city-builders include many inspiring and creative innovators who
                        challenge the status quo in an effort to build better cities. This webinar aims to learn more
                        about these outside the box thinkers reshaping urban life. Join us as we discover their journey:
                        the obstacles they faced, their successes, what they would differently.</p>
                    <a target="_blank" href="https://www.showpass.com/o/imagine-cities/">learn more</a>

                </div>
            </div>

            <div class="carousel-cell c4">
                <div class="post-content">
                    <h3>After Party
                    </h3>
                    <p>After each online event, we host a social gathering. Bring your favourite drink and join us for
                        the After Party where you can socialize and meet other guests in attendance. </p>
                    <a target="_blank" href="https://www.showpass.com/o/imagine-cities/">learn more</a>

                </div>
            </div>

            <div class="carousel-cell c5">
                <div class="post-content">

                    <h3>Year in Review


                    </h3>
                    <p>The Year in Review highlights the best of the best. We pull together the most innovative and
                        unique pieces of research that are solving city problems from our research repository using
                        a
                        defined criteria. To explore this annual collection follow us on Instragram.</p>
                    <a target="_blank"
                        href="https://medium.com/imagine-cities/a-new-kind-of-organization-for-a-new-era-of-urbanism-17b24a681091">learn
                        more</a>

                </div>
            </div>

        </div>


        <div class="extra wrapper extra3" data-aos="zoom-in" data-aos-duration="1800">
            <h1>Capacity Building Program</h1>
            <h2>Since the late 1980s, humanity has witnessed rates of innovation never seen before in history. As we
                progress into the 4th industrial revolution, innovation will continue to transform cities. We bring
                together
                digital content that will not only give you the skills needed to make sense of a complex world, but also
                provide you with the tools to effectively respond in an effort to improve urban life.
            </h2>

        </div>

        <section class="featured-posts ourwork" id="move">
            <!-- <h2>OUR PROJECTS</h2> -->
            <div class="carousel cr4" data-flickity='{"autoPlay": true }'>
                <div class="carousel-cell c1">
                    <div class="post-content">

                        <h3>News Literacy
                            <!-- <a href=" https://www.showpass.com/o/imagine-cities/
                            " target="_blank"><i class="fab fa-youtube icon"></i></a>
 -->

                        </h3>
                        <p class="indev">Currently In Development</p>
                    </div>
                </div>
                <div class="carousel-cell c2">
                    <div class="post-content">
                        <h3>Big Data
                            <!-- <a href="https://www.instagram.com/imaginecities/" target="_blank"><i
                                class="fab fa-instagram icon"></i></a> -->
                        </h3>
                        <p class="indev">Currently In Development</p>
                    </div>
                </div>
                <div class="carousel-cell c3">
                    <div class="post-content">
                        <h3>Tactical Urbanism</h3>
                        <p class="indev">Currently In Development</p>

                    </div>
                </div>
                <div class="carousel-cell c4">
                    <div class="post-content">
                        <h3>Benefit District
                            <!-- <a href="https://getpocket.com/@81epcT05AnIijdh1cqg6784g6cdfA4dt05eO5ae431Zd49Zd9149cR62gb6SQ2af"
                            target="_blank"><i class="fas fa-database"></i></a> -->
                        </h3>
                        <p class="indev">Currently In Development</p>
                    </div>
                </div>
                <div class="carousel-cell c5">
                    <div class="post-content">
                        <h3>Land Trust
                            <!-- <a
                            href="https://docs.google.com/forms/d/e/1FAIpQLSdMB-PQy6f5mWM6CcgYEW8fMyBZJKs8EG8B4Y2uLcKDOarqmQ/viewform "
                            target="_blank"><i class="fa fa-coffee"></i></a> -->
                        </h3>
                        <p class="indev">Currently In Development</p>
                    </div>
                </div>
                <div class="carousel-cell c6">
                    <div class="post-content">
                        <h3>Participatory Budgeting
                            <!-- <a
                            href="https://docs.google.com/forms/d/e/1FAIpQLSdMB-PQy6f5mWM6CcgYEW8fMyBZJKs8EG8B4Y2uLcKDOarqmQ/viewform "
                            target="_blank"><i class="fa fa-coffee"></i></a> -->
                        </h3>
                        <p class="indev">Currently In Development</p>
                    </div>
                </div>

            </div>
        </section>

        <!-- <div class="carousel" data-flickity='{"autoPlay": true }'>
            <div class="carousel-cell c1" >
                <div class="post-content">
                    <h3>Common Ground<a href="https://www.youtube.com/channel/UCnKzWKNeQIBPiF0HwgRy79Q/playlists?view_as=subscriber" target="_blank"><i class="fab fa-youtube icon"></i></a>
                    </h3>
                    <p>Throughout the year we curate and show collections of short films from our research repository
                        that highlight interesting perspectives about city building. The topics we choose aim to align
                        with the most important urban issues of the moment, spark discussion, and connect city-builders.
                        Join us at our next event to view, connect and converse.</p>
                </div>
            </div>
            <div class="carousel-cell c2" >
                <div class="post-content">
                    <h3>Year In Review <a href="https://www.instagram.com/imaginecities/" target="_blank"><i
                                class="fab fa-instagram icon"></i></a>
                    </h3>
                    <p>The Year in Review highlights the best of the best. We pull together the most innovative and
                        unique pieces of research that are solving city problems from our research repository using a
                        defined criteria. To explore this annual collection follow us on Instragram.</p>
                </div>
            </div>
            <div class="carousel-cell c3" >
                <div class="post-content">
                    <h3>Speaker Series<a href="https://www.instagram.com/imaginecities" target="_blank"><i class="far fa-user icon"></i></a></h3>
                    <p>Our community of engaged citizens includes many inspiring and creative innovators who challenge
                        the status quo in an effort to build better cities. Our speaker series allows all of us to learn
                        more about city building, celebrate impact and consider how we can each contribute to our city.
                        Sign up for our newsletter!</p>
                </div>
            </div>
            <div class="carousel-cell c4" >
                <div class="post-content">
                    <h3>Research Database<a href="https://getpocket.com/@81epcT05AnIijdh1cqg6784g6cdfA4dt05eO5ae431Zd49Zd9149cR62gb6SQ2af" target="_blank"><i class="fas fa-database"></i></a></h3>
                    <p>Our database is where we store all the research we've come across globally which have been organized into 21 city-building categories.</p>
                </div>
            </div>
        </div> -->


</main>

{% endblock %}