{% extends 'page/base.html' %} {% block content %}

<div class="values">
  <div class="container">
    <h1>Values</h1>

    <!-- Inclusion section -->
    <h2>Inclusion</h2>
    <p>
      Show up as you are and be an ally to others. By encouraging belonging we will foster a welcoming community that
      benefits from diversity of thought.
    </p>

    <!-- Collaboration section -->
    <h2>Collaboration</h2>
    <p>
      We are all city makers and we know the sum is greater than the parts. We lean on the strengths of one another to
      meet the challenges of a rapidly urbanizing world.
    </p>

    <!-- Trust section -->
    <h2>Trust</h2>
    <p>
      We build trust with each other by maintaining a high level of accountability, honesty, and respectful behaviour.
    </p>

    <!-- Creativity section -->
    <h2>Creativity</h2>
    <p>
      In an era of exponential innovation we will harness the power of imagination to uncover remarkable solutions to
      urban problems.
    </p>
  </div>
</div>

{% endblock %}