{% extends 'page/base.html' %} {% block content %}

<div class="indicators">
  <div class="container">

    <!-- Title section -->
    <h1>Our Story</h1>

    <!-- Description -->
    <p>
      The way we choose to build our cities will be central to our ability to compete as we transition
      through the 4th industrial period. With finite resources at our disposal, urban leaders are turning
      to data and science to find the insight needed to make better investments that produce more
      significant systemic outcomes.
    </p>

    <!-- Title section -->
    <h1>Our Indicators</h1>

    <!-- Description -->
    <p>
      Supported by our research, our team has produced a list of 20 indicators that we believe are the key drivers
      behind great city-building. In addition to shedding light on these important components, our indicators shed light
      on their interdependencies and the importance of systems thinking in meaningfully solving urban problems. These
      indicators are regularly reviewed and updated. Coming soon.
    </p>

    <!-- Medium article link -->
    <div class="paper-button">
      <a href="https://medium.com/@ron.jaicarran/a-new-kind-of-organization-for-a-new-era-of-urbanism-17b24a681091"
         target="_blank" class="white-paper"
         style="color: orange; text-decoration: none; font-weight: bold;">
        <button type="button">
          Read More
        </button>
      </a>
    </div>
  </div>
</div>

{% endblock %}