$primary-colour: #241F20;
$primary-colour2: #F9AF42;
$primary-colour3: #13A7A5;
$primary-colour4: #149ED3;
$text-color: #D8D7D6;
$accent-colour: gray;

.about-page .main-banner {
    // background: white url(../img/vision2.jpeg);
    background-size: cover;
    min-height: 430px;
}


.about-page .main-banner-text h3 {
    color: $primary-colour2;
    margin-bottom: 20px;
    // font-weight: 800;
}

.image-text h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: normal;
}

.vision-banner .image-text{
    background: white url(../img/vision1.jpeg);
    background-size: cover;
    padding: 14%;
    color: white;
}

.story-banner .image-text{
    background: white url(../img/about3.jpeg);
    background-size: cover;
    padding: 14%;
    color: white;
}


.ourwork-banner {
    background: white url(../img/about4.jpeg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.ourwork-banner h2 {
    font-size: 3.5em;
    // float: left;
    color: $primary-colour3;
    text-transform: uppercase;
    width: 30%;
    padding: 10%;
    opacity: 70%;
}

.ourwork-banner .btn{
    background-color: #13A7A5;
    border: none;
    color: azure;
    padding: 2em 1em;
    border-radius: 8px;
    position: relative;
    left: 300px;
    top: -200px;
    font-weight: bold;
}


.ourwork-banner button:hover{
    background-color: #F9AF42;
    border: #D8D7D6 solid 2px;
}







