$primary-colour: #241F20;
$primary-colour2: #F9AF42;
$primary-colour3: #13A7A5;
$primary-colour4: #149ED3;
$text-color: #D8D7D6;
$accent-colour: gray;

.about-page h1 {
    text-align: center;
    font-size: 2.5em;
    padding: 0;
    margin: 20px 0 0 0;
}

.about-page h2 {
    font-size: 2em;
    padding-bottom: 20px;
    color: $primary-colour2;
}

.about2 h2 {
    color: $primary-colour3;
}

.about3 h2 {
    color: $primary-colour4;
}

.about-page p {
    font-size: 1em;
    color: $primary-colour;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.4px;
}


.aboutus img{
    width: 70%;
    padding-bottom: 40px;
    padding-top: 40px;
    float: left;
}

.about3 img {
    float: right;
}

.aboutus-text {
    float: right;
    padding-top: 20px;
    position: relative;
    top: 20px;
}

.mission-text {
    position: relative;
    top: 50px;
    right: 100px;
}

.mission-text2 {
    position: relative;
    top: 30px;
    left: 100px;
}

.seeourwork {
    text-align: center;
    margin: 20%;
    position: relative;
    top: 80px;
}

.seeourwork .bn {
    color: $primary-colour3;
    font-size: 4em;
    text-decoration: none;
    font-weight: bold;
}

.seeourwork a:hover {
    color: $primary-colour2;
    font-size: 4em;
    text-decoration: none;
    font-weight: bold;
}


@media only screen and (max-width: 800px) {

.aboutus {
    padding: 10%;
}

.aboutus img{
    display: none;
}

.about3 img {
    display: none;
}

.aboutus-text {
    float: none;
    text-align: center;
    position: static;
}

.mission-text {
   float: none;
   text-align: center;
   position: static;
}

.mission-text2 {
    position: static
}

.seeourwork {
    text-align: center;
    margin: 20%;
    position: static;
    // top: 80px;
}

.seeourwork .bn {
    color: $primary-colour3;
    font-size: 4em;
    text-decoration: none;
    font-weight: bold;
}



}
