$primary-colour: #241F20;
$primary-colour2: #F9AF42;
$primary-colour3: #13A7A5;
$primary-colour4: #149ED3;
$text-color: #D8D7D6;
$accent-colour: gray;

.about-page .main-banner {
    background: white url(../img/about1.jpeg);
    background-size: cover;
    max-height: auto;
}

.about-page .main-banner h3 {
    text-transform: uppercase;
    letter-spacing: 2px;;
}


.text-box {
    padding: 10% 15%;
    text-align: center;
    position: relative;
}

.text-box h2 {
    font-size: 1.0em;
}

.image-text h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}

.vision-banner .image-text{
    background: white url(../img/about2.jpeg);
    background-size: cover;
    padding: 12%;
}

.story-banner .image-text{
    background: white url(../img/about3.jpeg);
    background-size: cover;
    padding: 12%;
}

.image-text h3{
    font-size: 40px;
}


.ourwork-banner {
    background: white url(../img/about4.jpeg);
    height: 500px;
    ;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.ourwork-banner h2 {
    font-size: 3.5em;
    float: left;
    color: #D8D7D6;
    text-transform: uppercase;
    width: 30%;
    padding: 10%;
    opacity: 70%;
}

.ourwork-banner .btn{
    background-color: #13A7A5;
    border: none;
    color: azure;
    padding: 2em 1em;
    border-radius: 8px;
    position: relative;
    right: 30px;
    top: 350px;
}

.ourwork-banner button:hover{
    background-color: #F9AF42;
    border: #D8D7D6 solid 2px;
}

.fact h3{
    text-align: center;
    padding: 0 20px;
    color: #D8D7D6;
    font-size: 1.5em;
}

.mission-text {
    color: #13A7A5;
}

.vision-text {
    color: #F9AF42;;
}

.story-text {
    color: #149ED3;
}