$primary-colour: #241f20;
$primary-colour2: #f9af42;
$primary-colour3: #13a7a5;
$primary-colour4: #149ed3;
$text-color: #d8d7d6;
$accent-colour: gray;

.contact-us {
  margin-bottom: 500px;
  padding: 2% 8%;
}

.contact-us h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
}

.contact-us h2 {
  font-size: 1.2em;
  line-height: 150%;
}

.contact-us p {
  font-size: 1.3rem;
  line-height: 1.2rem;
}

.contact-us .meet h2 {
  color: #13a7a5;
}

