$primary-colour: #241f20;
$primary-colour2: #f9af42;
$primary-colour3: #13a7a5;
$primary-colour4: #149ed3;
$text-color: #d8d7d6;
$accent-colour: gray;

.join-page .main-banner h3 {
  position: relative;
  bottom: 30px;
  color: white;
  text-transform: uppercase;
  font-style: normal;
}
.quote2 h5 {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 50px;
  font-style: italic;
  font-weight: lighter;
  padding: 0 20px;
}

.propellus-logo img {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}

.join-page .main-banner {
  background: white url(../img/1-c.jpeg);
  max-width: 100%;
  background-size: cover;
  height: 110vh;
  min-height: 800px;
  position: relative;
  top: -80px;
}

.bottom-img img {
  padding: 0 35px 35px 35px;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.bottom-img p {
  color: #f9af42;
  position: relative;
  top: -150px;
}

.blog-grid {
  margin: 60px;
  grid-area: blog;
  display: grid;
  grid-template-areas:
    "post1 post2"
    "post3 post2";
  grid-gap: 1em;
  padding: 40px;
}

.box {
  background-color: none;
}

.post1 {
  grid-area: post1;
}

.post2 {
  grid-area: post2;
  color: rgb(138, 134, 130);
  text-align: center;
}

.post2 span {
  font-weight: 600;
  color: darkgray;
}

.post3 {
  grid-area: post3;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.post3 button {
  background-color: #f9af42;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 20px 50px;
  color: white;
  // text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.post3 button:hover {
  background-color: #13a7a5;
  // border: #D8D7D6 solid 2px;
}
.post2 .propellus-text h3 {
  line-height: 130%;
  font-weight: 300;
  font-size: 1.7em;
  padding: 10px 60px;
}

.involved-quote {
  text-align: center;
  line-height: 130%;
  font-weight: 300;
  font-size: 1.3em;
  padding: 10px 60px;
  color: rgb(138, 134, 130);
  // padding: 20px;
  margin: 0 10% 10% 10%;
  
}

@media only screen and (max-width: 500px) {

  .join-page .main-banner h3 {
    position: relative;
    bottom: 30px;
    font-size: 2.5rem;
  }
  .blog-grid {
    margin: 0;
    padding: 0;
  }

  .quote2 {
    padding: 0;
    margin: 0;
  }

  .propellus-grid-main ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .blog-grid li {
    text-align: center;
    padding: 0px;
    padding-bottom: 20px;
  }

  .bottom-img img {
    // width: 120%;
    padding: 0;
  }

  .post2 .propellus-text h3 {
    line-height: 130%;
    font-weight: 300;
    font-size: 1.2em;
    padding: 0;
    margin: 20px;
  }

  .involved-quote {
    text-align: center;
    line-height: 130%;
    font-weight: 300;
    font-size: 0.9em;
    padding: 10px 60px;
    color: rgb(138, 134, 130);
    // padding: 20px;
    margin: 0 0 10% 0;
    
  }
}
