$primary-colour1: #241F20;
$primary-colour2: #F9AF42;
$primary-colour3: #13A7A5;
$primary-colour4: #149ED3;
$primary-colour5: #D8D7D6;
$accent-colour: gray;

.main-banner {
	min-height: 600px;
	max-width: 100%;
	background: white url(../img/Homepage.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
	top: -80px;
	z-index: 1;
}

.main-banner-text h3,
h4 {
	color: $primary-colour2;
	font-size: 2.5rem;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 1.5px;
	margin-bottom: 5px;
	font-style: italic;
	margin-top: -50;
	position: relative;
	bottom: 120px;
}

.home .main-banner-text h3,h4 {


    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

.main-banner-text h4 {
	font-size: 1.1rem;
    font-weight: 800;
    text-transform: uppercase;
}

.main-banner-text button {
	background-color: $primary-colour;
	color: white;
	font-size: .8em;
	text-transform: uppercase;
	padding: 15px 30px;
	margin: 10px;
	justify-content: centre;
	position: relative;
    z-index: 100;
	bottom: 10px;
	border: none;
	border-radius: 10px;
	font-weight: bolder;
	letter-spacing: 2px;
}


.learn-more button {
    background-color: $primary-colour2;
    cursor: pointer;
}



.learn-more button:hover{
    background-color: black;
}

.learn-more {
    text-align: center;
}

.featured-posts {
	padding: 20px;
}

.quote h4{
    padding: 20px;
    color: gray;
    font-size: 3.1em;
    opacity: 80%;
    text-align: center;
	padding-bottom: 40px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	position: relative;
	bottom: -30px;
}

.quote {
    align-items: center;
}

.quote a{
	text-decoration: none;
}

.extra {
	position: relative;
	bottom: 50px;
	padding: 0;
	margin: 0;
	border: solid 2px black;
}

.box {
	padding: 30px;
}
// main page
// featured posts
.featured-posts {
	text-align: center;
	display: block;
	// float: left;
	position: relative;
	top: -30px;
}

.featured-posts ul {
    text-align: left;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	padding: 15px 0;
	// border-radius: px;
}

.featured-posts h2 {
	font-size: 1.2em;
	margin-bottom: 2em;
}



.post-content h3 {
	margin-bottom: 10px;
	font-size: 1.5em;
}

.post-content p{
	font-size: .9em;
	padding: 15px;
	text-align: left;
}

.post-content a{
	color: #241F20;
	font-size: 1.3em;
	margin: 0 5px;
}

// quote
.quote {
	margin: 50px;
	padding-top: 50px;
	position: relative;
	bottom: 70px;
}

.quote {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 20s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 20s; /* Firefox < 16 */
        -ms-animation: fadein 20s; /* Internet Explorer */
         -o-animation: fadein 20s; /* Opera < 12.1 */
            animation: fadein 20s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.quote h4 {
	// font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
	// font-family: 'Lobster', cursive;
	// font-family: 'Courgette', cursive;
	// font-family: 'Caveat', cursive;
	// font-family: 'Kalam', cursive;
	// font-family: 'Marck Script', cursive;
	font-size: 2.8em;
	// text-transform: uppercase;
	font-weight: bolder;
	font-style: italic;
}

// newsletter

.newsletter {
	padding: 0;
	margin: 0;
	position: static;
	// right: 40px;
}



.newsletter-grid-main {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	// text-align: justify;
	// background-color: #D8D7D6;
	margin: 0em;
    margin-bottom: 80px;
	padding: 0px;
	
}

.newsletter h3 {
	text-align: center;
	font-size: 1.2em;
	color: black;
	text-transform: uppercase;
	padding: 30px;
}




.eventbrite {
	background: white url(../img/1-f.jpeg);

    background-color: #241F20;
    padding: 5em;
	margin: 0;
	text-align: center;
}

.eventbrite h2 {
	color: white;
	font-size: 1.1em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.eventbrite button {
    background-color: $primary-colour2;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 50px;
	color: white;
    // text-align: center;
    text-transform: uppercase;
    cursor:pointer;
}

.eventbrite button:hover {
	background-color: $primary-colour1;
	border: white solid 1px;
}


.community {
	background: white url(../img/about2.jpeg);

    background-color: #241F20;
    padding: 5em;
	margin: 0;
	text-align: center;
}
.community h2 {
	color: white;
	font-size: 1.1em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.community button {
    background-color: $primary-colour4;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 50px;
	color: white;
    // text-align: center;
    text-transform: uppercase;
    cursor:pointer;
}

.community button:hover {
	background-color: #241F20;
	border: white solid 1px;
}

.volunteer {
	background: white url(../img/edu.jpeg);

    background-color: #241F20;
    padding: 5em;
	margin: 0;
	text-align: center;
}

.volunteer h2 {
	color: white;
	font-size: 1.1em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.volunteer button {
    background-color: $primary-colour3;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 50px;
    color: white;
    // text-align: center;
    text-transform: uppercase;
    cursor:pointer;
}

.volunteer button:hover {
	background-color: #241F20;
	border: white solid 1px;
}





// Placeholder for email inputs
/* Styling placeholder font for email inputs*/
::-webkit-input-placeholder {
	/* Chrome/Opera/Safari/ */
	font-family: 'Noto Serif', serif;
	font-size: 0.9em;
	text-align: center;
}

::-moz-placeholder {
	/* Firefox 19+ */
	font-family: 'Noto Serif', serif;
	font-size: 0.9em;
	text-align: center;
}

:-ms-input-placeholder {
	/* IE 10+ */
	font-family: 'Noto Serif', serif;
	font-size: 0.9em;
	text-align: center;
}

:-moz-placeholder {
	/* Firefox 18- */
	font-family: 'Noto Serif', serif;
	font-size: 0.9em;
    text-align: center;
}

.carousel {
    background: rgba(250, 246, 235, 0.39);
	padding: 50px;
	margin-bottom: 15%;
}

.carousel .c1 {
	background-color: $primary-colour2;
}
.carousel .c2 {
	background-color: $primary-colour3;
}
.carousel .c3 {
	background-color: $primary-colour4;
}

.carousel-cell {
	width: 45%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 30px 50px 40px 50px;
    height: 300px;
    margin-right: 35px;
	background-color: $primary-colour2;
	// border: black solid 2px;
	border-radius: 5px;
	// font-weight: 500;
	line-height: 18px;
	font-size: 15px;
	counter-increment: gallery-cell;
}

.flickity-page-dots{
	// display: none;
	text-align: center;
	position: relative;

}

/* cell number */
// .carousel-cell:before {
//   display: block;
//   text-align: center;
//   content: counter(gallery-cell);
//   line-height: 50px;
//   font-size: 15px;
//   font-weight: bold;
//   color: white;
// }

@media only screen and (max-width: 940px) {
	.carousel-cell {
		width: 55%;
		padding: 50px 30px 10px 30px;
		height: 300px;
		margin-right: 15px;
		background-color: $primary-colour2;
		line-height: 13px;
		border-radius: 5px;
		counter-increment: gallery-cell;
	}
	.post-content p{
		font-size: .9em;
		padding: 10px;
		text-align: left;
	}
}

@media only screen and (max-width: 640px) {
	
	.post-content p{
		font-size: .8em;
		padding: 10px;
		text-align: left;
	}

	.post-content h3 {
		margin-bottom: 10px;
		font-size: 1.3em;
	}
}

@media only screen and (max-width: 550px) {
	.carousel-cell {
		width: 90%;
		padding: 20px 50px 50px 50px;
		height: 300px;
		margin-right: 15px;
		background-color: $primary-colour2;
		border-radius: 5px;
		counter-increment: gallery-cell;
	}
	.post-content p{
		font-size: 13px;
		padding: 20px 0px;
		font-weight: 400;
		text-align: left;
	}

	.post-content h3 {
		margin-bottom: 10px;
		font-size: 1.1em;
	}

}