$primary-colour: #241F20;
$primary-colour2: #F9AF42;
$primary-colour3: #13A7A5;
$primary-colour4: #149ED3;
$text-color: #D8D7D6;
$accent-colour: gray;

.our-work-page .main-banner {
	background: white url(../img/1-f2.jpeg);
    background-size: cover;
    min-height: 430px;
    position: relative;
	top: -80px;
}

.our-work-page .main-banner-text h3{
    position: relative;
    bottom: 20px;
    // color: #241F20;
    color: black;
    // font-size: 3em;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: uppercase;
}

.extra ul {
    text-align: left;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
	padding: 0 0;
	margin: 0;
	// border-radius: px;
}

.pocket2 {
    width: 60%;
    position: relative;
    left: -20px;
}

.post-b h2 {
    position: static;
    text-align: left;
    // display:;
}


.repo-text {
    // background-color: #13A7A5;
    font-size: 1.0em;
    padding: 10 20 50 0;
    margin-right: 25%;
    margin-top: 15%
}

.repo-text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.repo-text p {
    font-size: 0.9em;
}

.research-repo {
    padding: 10px;
    position: relative;
    top: -30px;
}


.research-repo ul {
    text-align: left;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px 0;
    margin-bottom: 50px;
}

.projects ul {
    text-align: left;
	list-style: none;
    display: grid;
    grid-gap: 3em;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10%;
    border-radius: px;
    margin-bottom: 50px;
}

.projects {
    position: relative;
    bottom: 200px;
}
