.indicators .container {
  padding: 2em;
  margin: 80px;
}

.indicators h1 {
  color: orange;
  font-size: 3em;
  margin-bottom: 50px;
}

.indicators p {
  font-size: 1.3rem;
  margin-bottom: 50px;
  width: 80%
}

@media only screen and (max-width: 500px) {
  .indicators {
      margin: 0;
      text-align: center;
  }

  .indicators p {
      width: 100%;
  }

  .container {
      padding: 0;
      margin: 0;
  }

  .indicators .container {
      padding: 20px 0;
      margin: 10%;
    }

}

