@import './getinvolved';
@import './home';
@import './about';
@import './setup';
@import './contact';
@import './ourwork';
@import './ourteam';

$primary-colour: #241F20;
$primary-colour2: #F9AF42;
$primary-colour3: #13A7A5;
$primary-colour4: #149ED3;
$text-color: #D8D7D6;
$accent-colour: gray;


*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	max-height: 100%;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: white;
	// background-color: white;
}

.wrapper {
	max-width: 80%;
	margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
ul {
	// margin: 0;
	// padding: 0;
	font-size: small;
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style: none;
}


/* Top Nav Bar */
.top-nav-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: transparent;
	position: relative;
	z-index: 2;
}

.top-nav li {
	display: inline-block;
	line-height: 35px;
}

.top-nav li a:hover {
	color: #D8D7D6;
}

.top-nav li a {
	display: block;
	font-size: 10px;
	color: black;
	padding-right: 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bolder;
}

.top-nav-flex img {
	max-width: 100%;
	height: 40px;
}

// hamburger toggle

.hamburger-toggle {
	float: right;
	display: none;
	cursor: pointer;
}

.hamburger-toggle span {
	background: black;
	height: 2px;
	width: 28px;
	display: block;
	margin: 6px 0;
	-webkit-transition: .5s;
	transition: .5s
}

.hamburger-toggle.x-toggle span:nth-child(2) {
	opacity: 0;
}

.hamburger-toggle.x-toggle span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	transform-origin: 5px 9px;
	-webkit-transform: rotate(45deg);
	transform-origin: 5px 9px;
}

.hamburger-toggle.x-toggle span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	transform-origin: 8px -7px;
	-webkit-transform: rotate(-45deg);
	transform-origin: 8px -7px;
}

// footer

footer {
	background-color: $primary-colour;
	padding: 40px;
	text-align: center;
}

.footer-main img {
	max-width: 100%;
}

.footer-main a {
	color: #D8D7D6;
}

.footer-grid-main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.footer-desc {
	color: #D8D7D6;
}

.footer-nav a {
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.footer-nav a:hover {
	color: #F9AF42;
}

.footer-nav li {
	text-align: left;
	margin-top: 10px;
	margin-left: 20px;
}

.footer-desc input {
	margin-top: 15px;
	padding: 8px 15px;
	border: none;
}

.footer-desc button {
	padding: 8px 50px;
	margin-top: 10px;
	background-color: #F9AF42;
	;
	color: white;
	border: none;
	font-weight: bold;
}

.copyright p {
	float: right;
	position: relative;
	left: 190px;
	top: 30px;
	color: #F6F7F9;
}

.icons {
	letter-spacing: 2px;
	font-size: 1.3em;
}

.icons a:hover{
	color: #F9AF42;
}




// nav hamburger toggle

.hamburger-toggle {
	float: right;
	display: none;
	cursor: pointer;
}

.hamburger-toggle span {
	background: black;
	height: 2px;
	width: 28px;
	display: block;
	margin: 6px 0;
}

// banner styles
// about page


/*  */

@media only screen and (max-width: 1200px) {
	.newsletter-grid-main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		// text-align: justify;
		// background-color: #D8D7D6;
		margin: .5em;
		margin-bottom: 80px;
		padding: 0px;
	}
}

@media only screen and (max-width: 900px) {

	.featured-posts ul {
		text-align: left;
		list-style: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 3em;
		padding: px;
		min-height: 600px;

	}

	.newsletter-grid-main {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 30px;
		text-align: justify;
		margin: 1em;
		margin-bottom: 80px;
		padding: 0px;
	}

	.post-content {
		height: 200px;
		max-height: 300px;
		min-width: 1.3em;
		border-radius: 5px;
	}


	.blog-grid {
		margin: 60px;
		grid-area: blog;
		display: grid;
		grid-template-areas:
			"post1 "
			"post3"
			"post2";
		grid-gap: 0em;
		padding: 20px;
	}

	.post1 .propellus-logo {
		max-width: 60%;
		height: auto;
		padding-bottom: 10px;
		margin: 0 20%;
	}

	.main-banner-text h3 {
		margin: 0 5%;
	}




}


/* mobile */
@media only screen and (max-width: 640px) {
	body {
		background-color: whitesmoke;
	}

	.hamburger-toggle {
        display: block;
        position: relative;
        z-index: 1000;
        padding: 10px 0;
    }

	.nav {
		text-align: center;
		padding-top: 80px;
		position: absolute;
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
		right: 0;
		left: 0;
		background-color: #F6F7F9;
		height: 100vh;
		-webkit-transition: .3s;
		transition: .3s;
		opacity: 0;
	}

	.nav.res-menu {
		-webkit-transform: translate(0);
		transform: translate(0);
		opacity: 1
	}

	.nav ul li {
		display: block;
		line-height: 50px;
	}

	.nav ul li a {
		padding: 2px;
		font-size: 1em;
		position: relative;
		top: 190px;
	}

	.nav ul li a:hover {
		background-color: #fff;
	}

	// .nav ul li {
	// 	display: block;
	// 	line-height: 0px;
	// }

	.nav ul li a {
		padding: 0;
		font-size: 1em;
	}

	.nav ul li a:hover {
		background-color: #fff;
	}

	.main-banner h4 {
		margin: 0 20%;
	}

	.ourwork-banner a{
		position: relative;
		top: 60px;
		right: 100px;
	}

	.featured-posts ul {
		grid-template-columns: 1fr;
	}

	.footer-grid-main {
		display: grid;
		grid-template-columns: 1fr;
	}

	.footer-grid-main .footer-desc {
		margin: 15px;
	}

	.footer-grid-main li {
		text-align: center;
	}
}