.join-page .main-banner h3 {
  color: white;
}

.quote2 h5 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 50px;
  font-style: italic;
  font-weight: lighter;
  padding: 0 20px;
}

.propellus-logo img {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}

.join-page .main-banner {
  background: white url(../img/1-c.jpeg);
  background-size: cover;
  max-width: 100%;
}

.bottom-img img {
  padding: 0 35px 35px 35px;
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.bottom-img p {
  color: #F9AF42;
  position: relative;
  top: -150px;
}

.blog-grid {
  margin: 60px;
  grid-area: blog;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "post1 post2" "post3 post2";
  grid-gap: 0em;
  padding: 20px;
}

.box {
  background-color: none;
}

.post1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: post1;
}

.post2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: post2;
  color: #8a8682;
  text-align: center;
}

.post2 span {
  font-weight: 600;
  color: darkgray;
}

.post3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: post3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px;
}

.post3 button {
  background-color: #F9AF42;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.post3 button:hover {
  background-color: #13A7A5;
  border: #D8D7D6 solid 2px;
}

.post2 .propellus-text h3 {
  line-height: 130%;
  font-weight: 300;
  font-size: 1.3em;
  padding: 40px;
}

.post2 .propellus-text h3:hover {
  font-weight: 800;
  color: gray;
}

.main-banner {
  min-height: 430px;
  max-width: 100%;
  background: white url(../img/Homepage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 0px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -100px;
  z-index: 1;
  height: -webkit-fill-available;
}
.main-banner-text {
  margin-top: -350px;
}
.main-banner-text h3 {
  font-style: italic;
  font-weight: 300;
}

.main-banner-text h3,
h4 {
  color: #F9AF42;
  font-size: 3.5rem;
  text-align: center;  
  letter-spacing: 1.5px;
  margin-bottom: 15px;  

}

.home .main-banner-text h3, h4 {
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 5s;
}

.main-banner-text h4 {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.main-banner-text button {
  background-color: #241F20;
  color: white;
  font-size: .8em;
  text-transform: uppercase;
  padding: 15px 30px;
  -webkit-box-pack: centre;
      -ms-flex-pack: centre;
          justify-content: centre;
  position: relative;
  z-index: 100;
  top: 20px;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.learn-more button {
  background-color: black;
  cursor: pointer;
}

.learn-more button:hover {
  background-color: orange;
}

.learn-more {
  text-align: center;
}


.quote h4 {
  padding: 20px;
  color: gray;
  font-size: 3.1em;
  opacity: 80%;
  text-align: center;
  padding-bottom: 40px;
}

.quote {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote a {
  text-decoration: none;
}

.featured-posts {
  text-align: center;
  display: block;
  float: left;
  position: relative;
  top: -30px;
}

.featured-posts ul {
  text-align: left;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  padding: 15px 0;
  border-radius: px;
}

.featured-posts h2 {
  font-size: 1.2em;
}

.post-a .post-content {
  background: url(../img/ProjectSquaresBorder-3@2x.png);
  padding:2em;
  background-position: center;
  background-size: cover;
}

.post-b .post-content {
  /* background-color: #13A7A5; */
  padding: 2em;
}

.post-c .post-content {
  background-color: #D8D7D6;
  padding: 2em;
}

.post-content {
  height: 300px;
  max-height: 300px;
  min-width: 1.2em;
  border-radius: 5px;
  padding: 20px;
}

.post-content h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  text-align: center;
}

.post-content p {
  font-size: 1em;
  line-height: 15px;
}

.post-content a {
  color: #241F20;
  font-size: 1.3em;
  margin: 0 5px;
}

.quote {
  margin: 50px;
  padding-top: 50px;
}

.quote {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  -webkit-animation: fadein 20s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 20s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quote h4 {
  font-family: 'Kalam', cursive;
  font-size: 2.8em;
  font-weight: bolder;
  font-style: italic;
}

.newsletter-grid-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: justify;
  margin: 1em;
  margin-bottom: 80px;
  padding: 0px;
}

.newsletter h3 {
  text-align: center;
  font-size: 1.2em;
  color: white;
}
.eventbrite{
  background: white url(../img/edu.jpeg);
  background-color: #241F20;
  background-size: cover;
  background-position: center;
}

.eventbrite, .volunteer, .community {    
  padding: 5em;
  margin: 0;
  text-align: center;
 }
 
.eventbrite h2, .volunteer h2, .community h2 {
  color: #000;
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.eventbrite button, .volunteer button, .community button{
  background-color: #149ED3;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.eventbrite button:hover, .volunteer button:hover, .community button:hover {
  background-color: #241F20;
  border: white solid 2px;

}
.community {
  background: white url(../img/1-b.jpeg);
  background-color: #241F20;
  background-size: cover;
  background-position: center;
  }

.volunteer {
  background: white url(../img/about2.jpeg);
  background-color: #241F20;
  background-size: cover;
  background-position: center;
  padding-bottom: 5em;
  
}

.volunteer button {
  background-color: #13A7A5;  
}
.community button{
  background-color: #ecd089;
}

/* Styling placeholder font for email inputs*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari/ */
  font-family: 'Noto Serif', serif;
  font-size: 0.9em;
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Noto Serif', serif;
  font-size: 0.9em;
  text-align: center;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'Noto Serif', serif;
  font-size: 0.9em;
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Noto Serif', serif;
  font-size: 0.9em;
  text-align: center;
}

.about-page h3 {
  font-family: 'Kalam', cursive;
  font-size: 3.5em;
}

.about-page .main-banner {
  background-size: cover;
  min-height: 430px;
}

.about-page .main-banner h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3.5em;
}

.about-page .main-banner-text h3 {
  color: #ecd089;
  margin-bottom: 20px;
}

.text-box {
  padding: 0% 25%;
  text-align: center;
  line-height: 20px;
}

.text-box h2 {
  font-size: 1.0em;
}

.image-text h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}

.vision-banner .image-text {
  background: white url(../img/vision1.jpeg);
  background-size: cover;
  padding: 14%;
  color: white;
}

.story-banner .image-text {
  background: white url(../img/about3.jpeg);
  background-size: cover;
  padding: 14%;
  color: white;
}

.image-text h3 {
  font-size: 3.5em;
}

.ourwork-banner {
  background: white url(../img/about4.jpeg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

.ourwork-banner h2 {
  font-size: 3.5em;
  color: #D8D7D6;
  text-transform: uppercase;
  width: 30%;
  padding: 10%;
  opacity: 70%;
}

.ourwork-banner .btn {
  background-color: #13A7A5;
  border: none;
  color: azure;
  padding: 2em 1em;
  border-radius: 8px;
  position: relative;
  left: 300px;
  top: -200px;
  font-weight: bold;
}

.ourwork-banner button:hover {
  background-color: #F9AF42;
  border: #D8D7D6 solid 2px;
}

.fact h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0 20%;
  color: rgba(36, 31, 32, 0.626);
  font-size: 0.9em;
  line-height: 20px;
}

.mission-text {
  color: #13A7A5;
  margin: 0 20%;
}

.vision-text {
  color: #149ED3;
  font-size: 1.1em;
  line-height: 25px;
}

.story-text {
  color: rgba(36, 31, 32, 0.626);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 0.9em;
  line-height: 20px;
  margin: 0 10%;
}

.about-page .text-box {
  padding: 10%;
}

.about-page .mission-content .text-box {
  padding: 0;
}

.mission-text {
  padding: 8%;
}

.fact {
  padding: 5% 3%;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact-us {
  margin-bottom: 100px;
  padding: 2% 8%;
}

.contact-us h1 {
  font-family: 'Kalam', cursive;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: left;
  font-weight: bold;
}

.contact-us h2 {
  font-size: 0.9em;
}

.contact-us .meet h2 {
  color: #13A7A5;
}

.our-work-page .main-banner {
  background: white url(../img/1-f2.jpeg);
  background-size: cover;
}

.our-work-page .main-banner-text h3 {
  color: #13A7A5;
  font-size: 4em;
  font-weight: 400px;
  
}

.research-repo img {
  height: 55%;
  width: 55%;
  margin-left: 40%;
}

.repo-text {
  font-size: 1.4em;
  padding: 10 20 50 0;
  margin-right: 25%;
  margin-top: 15%;
}

.repo-text h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.repo-text p {
  font-size: 1em;
  padding: 30px 50px 20px 0px;
}

.research-repo {
  padding: 10px;
  position: relative;
  top: -30px;
}

.research-repo ul {
  text-align: left;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 10px 0;
  border-radius: px;
  margin-bottom: 50px;
}

.ourwork{
  display: flex;
  flex-wrap: wrap;
}
.projects{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: -58px;
}
.project-type{
  width: 25%;
  padding: 20px;
}
.project-type img{
  width: 30%;
}
.project-type h3{
  font-size: 1.3em;
}
.project-type p{
  font-size: 0.7em;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
ul {
  font-size: small;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

/* Top Nav Bar */
.top-nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.top-nav li {
  display: inline-block;
  line-height: 35px;
}

.top-nav li a:hover {
  color: #D8D7D6;
}

.top-nav li a {
  display: block;
  font-size: 10px;
  color: black;
  padding-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
}

.top-nav-flex img {
  max-width: 100%;
  height: 40px;
}

.hamburger-toggle {
  float: right;
  display: none;
  cursor: pointer;
}

.hamburger-toggle span {
  background: black;
  height: 2px;
  width: 28px;
  display: block;
  margin: 6px 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.hamburger-toggle.x-toggle span:nth-child(2) {
  opacity: 0;
}

.hamburger-toggle.x-toggle span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 5px 9px;
          transform-origin: 5px 9px;
  -webkit-transform: rotate(45deg);
  transform-origin: 5px 9px;
}

.hamburger-toggle.x-toggle span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 8px -7px;
          transform-origin: 8px -7px;
  -webkit-transform: rotate(-45deg);
  transform-origin: 8px -7px;
}

footer {
  background-color: #241F20;
  padding: 40px;
  text-align: center;
}

.footer-main img {
  max-width: 100%;
}

.footer-main a {
  color: #D8D7D6;
}

.footer-grid-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.footer-desc {
  color: #D8D7D6;
}

.footer-nav a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-nav a:hover {
  color: #F9AF42;
}

.footer-nav li {
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}

.footer-desc input {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
}

.footer-desc button {
  padding: 8px 50px;
  margin-top: 10px;
  background-color: #F9AF42;
  color: white;
  border: none;
  font-weight: bold;
}

.copyright p {
  float: right;
  position: relative;
  left: 190px;
  top: 30px;
  color: #F6F7F9;
}

.icons {
  letter-spacing: 2px;
  font-size: 1.3em;
}

.icons a:hover {
  color: #F9AF42;
}

.hamburger-toggle {
  float: right;
  display: none;
  cursor: pointer;
}

.hamburger-toggle span {
  background: black;
  height: 2px;
  width: 28px;
  display: block;
  margin: 6px 0;
}

/*  */
@media only screen and (max-width: 900px) {
  .featured-posts ul {
    text-align: left;
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 3em;
    padding: px;
    min-height: 600px;
  }
  .newsletter-grid-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    text-align: justify;
    margin: 1em;
    margin-bottom: 80px;
    padding: 0px;
  }
  .post-content {
    height: 200px;
    max-height: 300px;
    min-width: 1.3em;
    border-radius: 5px;
  }
  .blog-grid {
    margin: 60px;
    grid-area: blog;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "post1 " "post3" "post2";
    grid-gap: 0em;
    padding: 20px;
  }
  .post1 .propellus-logo {
    max-width: 60%;
    height: auto;
    padding-bottom: 10px;
    margin: 0 20%;
  }
  .main-banner-text h3 {
    margin: 0 5%;
  }
}

/* mobile */
@media only screen and (max-width: 640px) {
  body {
    background-color: whitesmoke;
  }
  .hamburger-toggle {
    display: block;
    position: relative;
    z-index: 1000;
    padding: 10px 0;
  }
  .nav {
    text-align: center;
    padding-top: 80px;
    position: absolute;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    right: 0;
    left: 0;
    background-color: #F6F7F9;
    height: 100vh;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
  }
  .nav.res-menu {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
  .nav ul li {
    display: block;
    line-height: 50px;
  }
  .nav ul li a {
    padding: 2px;
    font-size: 1em;
    position: relative;
    top: 190px;
  }
  .nav ul li a:hover {
    background-color: #fff;
  }
  .nav ul li a {
    padding: 0;
    font-size: 1em;
  }
  .nav ul li a:hover {
    background-color: #fff;
  }
  .main-banner h4 {
    margin: 0 20%;
  }
  .ourwork-banner a {
    position: relative;
    top: 60px;
    right: 100px;
  }
  .featured-posts ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  
  .footer-grid-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-grid-main .footer-desc {
    margin: 15px;
  }
  .footer-grid-main li {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
 .research-repo ul{
   -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      margin: auto;
      display: flex;
 }
 .repo-text{
   margin: auto;
 }
 .repo-text h3{
   font-size: 1em;
   margin-bottom: 0;
 }
 .repo-text p{
   font-size: 0.7em;
   padding-top: 15px;
 }
 .research-repo img{
   min-width:100% ;
   margin-right: 20px;
   margin-left: 0;
 }
}
/*# sourceMappingURL=main.css.map */